---
layout: default
---
<article class="post">
  <header class="post-header">
    <h1 class="post-title"><a href="{{page.url | prepend: site.baseurl}}"></a></h1>
    <p class="post-meta">
      {{ page.date | date: "%Y-%m-%d"}}
    </p>
  </header>

  <div class="post-content">
    {{content}}
  </div>
</article>

{% if page.previous or page.next%}
<nav>
  <ul class="pager">
    {% if page.previous %}
    <li class="previous">
      <a rel="prev" href="{{ page.previous.url | prepend: site.baseurl }}" title="{{page.previous.title | escape}}">&laquo;previous</a>
    </li>
    {% endif %}
    {% if page.next %}
    <li class="next">
      <a rel="next" href="{{page.next.url | prepend: site.baseurl}}" title="{{page.next.title | escape}}">next &raquo;</a>
    </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
{% include disques.html%}
